/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .wp-block-cgb-block-cheatsheets  {
    background: $green;
    border: 0 solid $black;
    color: $black;
    margin: 0 auto;
    max-width: 200px;
    padding: 1em;
    margin: 5px;
}

